.card {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.title {
  padding: 8px 20px;
  color: var(--color-bistre);
}

.image {
  max-width: 100%;
}

.text_container {
  padding: 20px;
}

.text {
  font-weight: var(--fontWeight-nunito-light);
  text-align: justify;
}

.origin {
  font-weight: var(--fontWeight-nunito-bold);
  display: block;
  padding-bottom: 8px;
}
