.card {
  width: auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.title {
  padding-left: 20px;
  color: var(--color-bistre);
}

.image {
  max-width: 100%;
}

.text_container {
  padding: 20px;
}

.text {
  font-weight: var(--fontWeight-nunito-light);
}

.origin {
  font-weight: var(--fontWeight-nunito-bold);
}
