:root {
  --color-bistre: #362417;
  --color-cinereous: #92817a;
  --color-dutch-white: #f1dabf;
  --color-white: #fffbff;
  --color-rich-black: #04030f;
  --color-grey: #999;
  --color-blue: #2196f3;
  --color-light-secondary: #6eb9f7;
  --color-secondary: #47a7f5;
  --color-danger: #f32013;

  --fontWeight-nunito-light: 300;
  --fontWeight-nunito-regular: 400;
  --fontWeight-nunito-bold: 700;
  --fontFamily-nunito: "Nunito", sans-serif;
}
